<div class="sort-group d-flex justify-content-around">
  <button type="button" class="btn-sort" (click)="btnSortDescDateClickHandler()">日付が古い順</button>
  <button type="button" class="btn-sort" (click)="btnSortAscDateClickHandler()">日付が新しい順</button>
  <button type="button" class="btn-sort" (click)="btnSortReverseClickHandler()">上下逆順</button>
</div>
<virtual-scroller class="twitter-container" #listContainer [items]="twitList" [bufferAmount]="200"
                  cdkDropList (cdkDropListDropped)="vsTwitDropHandler($event)" [scrollAnimationTime] = 0 [enableUnequalChildrenSizes]="true">

  <app-twit-detail [item]="twitItem" [twitIndex]="twitList.indexOf((twitItem))"
                   *ngFor="let twitItem of listContainer.viewPortItems; let index = index;"
                   (cdkDragStarted)="vsTwitDragStartedHandler($event, twitItem)"
                   cdkDragLockAxis="y" cdkDrag
                   (moveTopEmitter)="moveToTop(twitItem)"
                   (moveBottomEmitter)="moveToBottom(twitItem)"
                   (deleteEmitter)="deleteOne(twitItem)"
                   [selectedCon]="twitItem.container"
                   [selectedPict]="twitItem.picture"
                   [conList]="conList"
                   [picList]="picList"
                   [urlCheckColor]="this.settings.checkbox_url_color"
                   [showCheckColor]="this.settings.checkbox_hishuturyoku_color"></app-twit-detail>
</virtual-scroller>
