:host{
  position: relative;
  .dropdown-menu{
    display: block;
    position: absolute;
    overflow-y: auto;
    top:18px;
    left: 0;
    z-index: 1000;
    ul{
      li{
        list-style: none;
        &:hover{
          background-color: #0366d6;
        }
      }
    }
  }

}
