<div class="row-container">
  <button class="border-round sakusyo-btn btn-top-delete" (click)="btnDeleteAllClickHandler()">全て削除</button>
</div>
<div class="container-group">
  <div class="row">containter</div>
  <div class="row row-container-con">
    <label><input type="radio" name="opt-def-container1" [(ngModel)]="twitterDefContainer" value="1">1</label>
    <label><input type="radio" name="opt-def-container1" [(ngModel)]="twitterDefContainer" value="2">2</label>
    <label><input type="radio" name="opt-def-container1" [(ngModel)]="twitterDefContainer" value="3">3</label>
    <label><input type="radio" name="opt-def-container1" [(ngModel)]="twitterDefContainer" value="4">4</label>
    <label><input type="radio" name="opt-def-container1" [(ngModel)]="twitterDefContainer" value="5">5</label>
    <label><input type="radio" name="opt-def-container1" [(ngModel)]="twitterDefContainer" value="6">6</label>
  </div>
  <div class="row">画像</div>
  <div class="row row-container-pict">
    <label><input type="radio" name="opt-def-image1" [(ngModel)]="twitterDefImage" value="1">1</label>
    <label><input type="radio" name="opt-def-image1" [(ngModel)]="twitterDefImage" value="2">2</label>
    <label><input type="radio" name="opt-def-image1" [(ngModel)]="twitterDefImage" value="3">3</label>
    <label><input type="radio" name="opt-def-image1" [(ngModel)]="twitterDefImage" value="4">4</label>
    <label><input type="radio" name="opt-def-image1" [(ngModel)]="twitterDefImage" value="5">5</label>
  </div>
</div>
<div class="row-container">
  <button class="add-url top" (click)="btnAddUrlClickHandler()">追加</button>
  <textarea class="twitter-url" [(ngModel)]="twitterUrl"></textarea>
  <button class="add-url bottom" (click)="btnAddUrlClickHandler()">追加</button>
</div>
<div class="pt-1">
  <label class="label-vertical-center"><input class="mr-1" type="checkbox" [(ngModel)]="isAddTop">上に追加</label>
</div>
<div class="container-group back-purple-weak">
  <div class="row">一括変更</div>
  <div class="row">
    <label><input type="radio" name="right-container" [checked]="container == '1'" (click)="containerCollectiveSelectionHandler('1')">{{settings.container1}}</label>
  </div>
  <div class="row">
    <label><input type="radio" name="right-container" [checked]="container == '2'" (click)="containerCollectiveSelectionHandler('2')">{{settings.container2}}</label>
  </div>
  <div class="row">
    <label><input type="radio" name="right-container" [checked]="container == '3'" (click)="containerCollectiveSelectionHandler('3')">{{settings.container3}}</label>
  </div>
  <div class="row">
    <label><input type="radio" name="right-container" [checked]="container == '4'" (click)="containerCollectiveSelectionHandler('4')">{{settings.container4}}</label>
  </div>
  <div class="row">
    <label><input type="radio" name="right-container" [checked]="container == '5'" (click)="containerCollectiveSelectionHandler('5')">{{settings.container5}}</label>
  </div>
  <div class="row">
    <label><input type="radio" name="right-container" [checked]="container == '6'" (click)="containerCollectiveSelectionHandler('6')">{{settings.container6}}</label>
  </div>
</div>
<div class="w-100 image-group back-purple">
  <div class="row">一括変更</div>
  <div class="row">
    <label><input type="radio" name="right-image-type" [checked]="imageType == '1'" (click)="optImageTypeClickHandler('1')">{{settings.pict1}}</label>
  </div>
  <div class="px-1 position-relative">
    <div>
      (画像横幅）
    </div>
    <input type="text" name="txt-image-width" [(ngModel)]="imageWidth" [typeahead]="widthList" [typeaheadMinLength]="0">
  </div>
  <div class="row">
    <label><input type="radio" name="right-image-type" [checked]="imageType == '2'" (click)="optImageTypeClickHandler('2')">{{settings.pict2}}</label>
  </div>
  <div class="row">
    <label><input type="radio" name="right-image-type" [checked]="imageType == '3'" (click)="optImageTypeClickHandler('3')">{{settings.pict3}}</label>
  </div>
  <div class="row">
    <label><input type="radio" name="right-image-type" [checked]="imageType == '4'" (click)="optImageTypeClickHandler('4')">{{settings.pict4}}</label>
  </div>
  <div class="row">
    <label><input type="radio" name="right-image-type" [checked]="imageType == '5'" (click)="optImageTypeClickHandler('5')">{{settings.pict5}}</label>
  </div>
</div>
<div class="video-group">
  <div style="font-size: 13px;">videoの横幅</div>
  <div class="d-flex align-items-center justify-content-between ml-1 mt-1"><input type="radio" name="opt-change-video" [(ngModel)]="replaceVideoKind" value="1"><input type="text" name="txt-video-width" [(ngModel)]="videoWidth1" class="w-100 px-1"></div>
  <div class="d-flex align-items-center justify-content-between ml-1 mt-1"><input type="radio" name="opt-change-video" [(ngModel)]="replaceVideoKind" value="2"><input type="text" name="txt-video-width" [(ngModel)]="videoWidth2" class="w-100 px-1"></div>
  <div class="d-flex align-items-center justify-content-between ml-1 mt-1"><input type="radio" name="opt-change-video" [(ngModel)]="replaceVideoKind" value="3"><input type="text" name="txt-video-width" [(ngModel)]="videoWidth3" class="w-100 px-1"></div>
</div>
<div class="status-total">
  <input type="text" [(ngModel)]="totalCount" class="w-100" readonly>
</div>

<div class="pt-1">
  <label class="label-vertical-center"><input class="mr-1" type="checkbox" [(ngModel)]="isAddTopLink">余分にt_top_link追加</label>
</div>
<div class="pt-1">
  <label class="label-vertical-center"><input class="mr-1" type="checkbox" [(ngModel)]="isAddBottomLink">余分にt_bottom_link追加</label>
</div>
<hr>
<div class="pt-1">
  <label class="label-vertical-center"><input class="mr-1" type="checkbox" [(ngModel)]="notYoutubeText">Youtube埋め込みを出力しない</label>
</div>
<div class="pt-1">
  <label class="label-vertical-center"><input class="mr-1" type="checkbox" [(ngModel)]="notCardImageOutput">Twitterカード画像を出力しない</label>
</div>
<div class="pt-1">
  <label class="label-vertical-center"><input class="mr-1" type="checkbox" [(ngModel)]="appendLargeName" value='1'>画像にLargeを付与</label>
</div>
<div class="container-group">
  <div class="row pb-1">画像</div>
  <div class="row pb-1"><label><input type="checkbox" [(ngModel)]="isReplaceUrl" (click)="imageUrlRightChangeClickHandler(!isReplaceUrl)">画像URL形式変更</label></div>
  <div class="row">a href</div>
  <div class="row pb-1 px-1"><input type="radio" name="opt-change-anchor" [(ngModel)]="replaceAnchorUrlKind" value="1"><input class="txt-replace-url" type="text" [(ngModel)]="replacedAnchorUrl1"></div>
  <div class="row pb-1 px-1"><input type="radio" name="opt-change-anchor" [(ngModel)]="replaceAnchorUrlKind" value="2"><input class="txt-replace-url" type="text" [(ngModel)]="replacedAnchorUrl2"></div>
  <div class="row">img</div>
  <div class="row pb-1 px-1"><input type="radio" name="opt-change-image" [(ngModel)]="replaceImgUrlKind" value="1"><input class="txt-replace-url" type="text" [(ngModel)]="replacedImgUrl1"></div>
  <div class="row pb-1 px-1"><input type="radio" name="opt-change-image" [(ngModel)]="replaceImgUrlKind" value="2"><input class="txt-replace-url" type="text" [(ngModel)]="replacedImgUrl2"></div>
</div>
<div class="container-group">
  <div class="row pb-1">動画（URLにチェック時利用）</div>
  <div class="row pb-1"><input type="text" class="w-100" [(ngModel)]="dougaUrl"></div>
</div>
<div class="row-container">
  <button id="btn-print-html-tag" class="border-round" (click)="btnPrintHtmlClickHandler('html')">出力</button>
  <button id="btn-copy-tag" class="" [cdkCopyToClipboard]="outputHtml">コピー</button>
  <textarea id="txt-html-tag" [(ngModel)]="outputHtml"></textarea>
</div>
<div class="row-container">
  <button class="border-round sakusyo-btn" (click)="btnDeleteAllClickHandler()">全て削除</button>
</div>
<div class="container-group">
  <div class="row">containter</div>
  <div class="row row-container-con">
    <label><input type="radio" name="opt-def-container2" [(ngModel)]="twitterDefContainer" value="1">1</label>
    <label><input type="radio" name="opt-def-container2" [(ngModel)]="twitterDefContainer" value="2">2</label>
    <label><input type="radio" name="opt-def-container2" [(ngModel)]="twitterDefContainer" value="3">3</label>
    <label><input type="radio" name="opt-def-container2" [(ngModel)]="twitterDefContainer" value="4">4</label>
    <label><input type="radio" name="opt-def-container2" [(ngModel)]="twitterDefContainer" value="5">5</label>
    <label><input type="radio" name="opt-def-container2" [(ngModel)]="twitterDefContainer" value="6">6</label>
  </div>
  <div class="row">画像</div>
  <div class="row row-container-pict">
    <label><input type="radio" name="opt-def-image2" [(ngModel)]="twitterDefImage" value="1">1</label>
    <label><input type="radio" name="opt-def-image2" [(ngModel)]="twitterDefImage" value="2">2</label>
    <label><input type="radio" name="opt-def-image2" [(ngModel)]="twitterDefImage" value="3">3</label>
    <label><input type="radio" name="opt-def-image2" [(ngModel)]="twitterDefImage" value="4">4</label>
    <label><input type="radio" name="opt-def-image2" [(ngModel)]="twitterDefImage" value="5">5</label>
  </div>
</div>
<div class="row-container">
  <button class="add-url top" (click)="btnAddUrlClickHandler()">追加</button>
  <textarea class="twitter-url" [(ngModel)]="twitterUrl"></textarea>
  <button class="add-url bottom" (click)="btnAddUrlClickHandler()">追加</button>
</div>
<div class="pt-1">
  <label class="label-vertical-center"><input class="mr-1" type="checkbox" [(ngModel)]="isAddTop">上に追加</label>
</div>
<div class="row-container mt-1">
  <div>
    追加されたツイート
  </div>
  <textarea class="twitter-url" [(ngModel)]="addedUrls"></textarea>
</div>
<div class="row-container mt-1">
  <div>
    出力された画像URL
  </div>
  <textarea class="twitter-url" [(ngModel)]="addedImgUrls"></textarea>
</div>
<div class="row-container mt-1">
  <div>
    出力された動画URL
  </div>
  <textarea class="twitter-url" [(ngModel)]="addedVideoUrls"></textarea>
</div>
<div style="background-color: #e1e1e1;">
  <div class="row-container mt-1">
    <div>
      (アプリ終了時まで消去しない)
    </div>
    <div>
      追加されたツイート
    </div>
    <textarea class="twitter-url" [(ngModel)]="addedUrls1"></textarea>
  </div>
  <div class="row-container mt-1">
    <div>
      出力された画像URL
    </div>
    <textarea class="twitter-url" [(ngModel)]="addedImgUrls1"></textarea>
  </div>
  <div class="row-container mt-1">
    <div>
      出力された動画URL
    </div>
    <textarea class="twitter-url" [(ngModel)]="addedVideoUrls1"></textarea>
  </div>
</div>

