<div class="row-container">
  <textarea class="twitter-url" [(ngModel)]="twitterUrl"></textarea>
  <button class="add-url" (click)="btnAddUrlClickHandler()">追加</button>
</div>
<div class="container-group">
  <div class="row">
    <label><input type="radio" name="opt-container" [(ngModel)]="twitterContainer" value="0">各ツイートの状態を優先</label>
  </div>
  <div class="row">
    <label><input type="radio" name="opt-container" [(ngModel)]="twitterContainer" value="1">{{settings.container1}}</label>
  </div>
  <div class="row">
    <label><input type="radio" name="opt-container" [(ngModel)]="twitterContainer" value="2">{{settings.container2}}</label>
  </div>
  <div class="row">
    <label><input type="radio" name="opt-container" [(ngModel)]="twitterContainer" value="3">{{settings.container3}}</label>
  </div>
  <div class="row">
    <label><input type="radio" name="opt-container" [(ngModel)]="twitterContainer" value="4">{{settings.container4}}</label>
  </div>
  <div class="row">
    <label><input type="radio" name="opt-container" [(ngModel)]="twitterContainer" value="5">{{settings.container5}}</label>
  </div>
  <div class="row">
    <label><input type="radio" name="opt-container" [(ngModel)]="twitterContainer" value="6">{{settings.container6}}</label>
  </div>
</div>
<div class="w-100 image-group">
  <div class="row">
    <label><input type="radio" name="opt-image-kind" [(ngModel)]="imageKind" value="twitter" (click)="optImageKindClickHandler()">各ツイートの状態を優先</label>
  </div>
  <div class="row">
    <label><input type="radio" name="opt-image-kind" [(ngModel)]="imageKind" value="custom">画像形式</label>
  </div>
  <div class="px-2 image-type">
    <div class="row">
      <label><input type="radio" name="opt-image-type" [(ngModel)]="imageType" value="1" (click)="optImageTypeClickHandler()">{{settings.pict1}}<br>(画像横幅）</label>
    </div>
    <div class="row px-2">
      <input type="number" name="txt-image-width" [(ngModel)]="imageWidth" min="0">
    </div>
    <div class="row">
      <label><input type="radio" name="opt-image-type" [(ngModel)]="imageType" value="2" (click)="optImageTypeClickHandler()">{{settings.pict2}}</label>
    </div>
    <div class="row">
      <label><input type="radio" name="opt-image-type" [(ngModel)]="imageType" value="3" (click)="optImageTypeClickHandler()">{{settings.pict3}}</label>
    </div>
    <div class="row">
      <label><input type="radio" name="opt-image-type" [(ngModel)]="imageType" value="4" (click)="optImageTypeClickHandler()">{{settings.pict4}}</label>
    </div>
    <div class="row">
      <label><input type="radio" name="opt-image-type" [(ngModel)]="imageType" value="5" (click)="optImageTypeClickHandler()">{{settings.pict5}}</label>
    </div>
  </div>
</div>
<div class="video-group">
  <div style="font-size: 13px;">videoの横幅</div>
  <div><input type="text" name="txt-video-width" [(ngModel)]="videoWidth" class="w-100"></div>
</div>
<div class="row-container">
  <button id="btn-print-html-tag" class="border-round" (click)="btnPrintHtmlClickHandler()">出力</button>
  <button id="btn-copy-tag" class="" [cdkCopyToClipboard]="outputHtml">コピー</button>
  <textarea id="txt-html-tag" [(ngModel)]="outputHtml"></textarea>
</div>
<div class="row-container">
  <button class="border-round sakusyo-btn" (click)="btnDeleteAllClickHandler()">全て削除</button>
</div>
