@import "~bootstrap/dist/css/bootstrap.css";

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Yu Gothic UI", "Microsoft Sans Serif", "Yu Gothic", "MS PGothic",  sans-serif !important;
  font-weight: 400 !important;
  color: #000;
  font-size: 11px;
  overflow: hidden;
}

a {
  text-decoration: none;
}

* a {
  text-decoration: none;
  color: unset;
}

img {
  display: block;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 15px;
}

button {
  margin: 0 1px;
  background: #e1e1e1;
  border: 1px solid #adadad;
  font-size: 12px;
  cursor: pointer;
}

button:hover {
  background-color: #0366d6;
  border-color: #0366d6;
  color: #fff;
}

input {
  border: 1px solid #adadad;
}

input[type="text"] {
  height: 30px;
}

label {
  font-size: 13px;
  margin: 0 5px;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 930px;
}

app-left-panel {
  width: calc(100% - 230px);
  padding: 5px 0 5px 5px;
}

app-left-panel .sort-group .btn-sort {
  font-size: 13px;
  padding: .35em 0.8em;
  border-radius: .25em;
}

.main-container app-left-panel app-content h3 {
  color: red;
  font-size: 16px;
  margin: 0;
  padding: 4px 0;
}

.main-container app-left-panel app-content .content-url {
  display: flex;
  padding: 3px 0;
  justify-content: center;
  align-items: center;
}

.main-container app-left-panel app-content .dropdown-menu {
  min-width: 353px;
}

.main-container app-left-panel app-content .dropdown-item {
  width: 99%;
}

.main-container app-left-panel app-content input[type="text"] {
  width: 90%;
  height: 26px;
}

app-left-panel .twitter-container {
  margin: 10px 0 0;
  border-top: 1px solid #adadad;
  width: 100%;
  height: calc(100vh - 50px);
}

.main-container app-left-panel app-content .extract {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-container app-left-panel app-content .extract .toggle-all {
  min-width: 95px;
  height: 29px;
}

.main-container app-left-panel app-content .extract .toggle-context {
  min-width: 45px;
  height: 29px;
}

.main-container app-left-panel app-content .extract .toggle-tree {
  min-width: 40px;
  height: 29px;
  margin: 0 0 0 10px;
  background-color: #fff;
  border: 1px solid #0366b6;
}

.main-container app-left-panel app-content .extract .toggle-tree.active{
  background-color: #0366b6;
  color: #fff;
  min-width: 40px;
  height: 29px;
}

.main-container app-left-panel app-content .extract .btn-long {
  min-width: 154px;
  width: 14%;
  height: 29px;
}

.main-container app-left-panel app-content .extract input[type="text"] {
  min-width: 353px;
  width: 30%;
  height: 29px;
  margin: 0 3px;
}

.main-container app-left-panel app-content .extract .toggle-select {
  margin: 0 0 0 2px;
  background-color: #fff;
  border: 1px solid #0366b6;
}

.main-container app-left-panel app-content .extract .toggle-select.active{
  background-color: #0366b6;
  color: #fff;
}

app-twit-detail {
  display: block;
}

app-twit-detail:hover {
  background-color: #efefef;
}

app-twit-detail div.row-1 {
  display: flex;
  align-content: center;
  align-items: center;
}

app-twit-detail div.row-1 .btn-cancel-all{
  margin: 0 3px 0 auto;
  width: 55px;
  height: 20px;
  background-color: #5b9bd5;
  border: 1px solid #447fb5;
}

app-twit-detail div .label-res-id-num {
  width: 35px;
  text-align: left;
}

app-twit-detail div .label-res-cal1 {
  width: 60px;
  color: red;
}

app-twit-detail div .radio-container {
  margin: 0;
  padding: 0 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50px;
}


app-twit-detail div .line1 .radio-container {
  width: 50px;
}

app-twit-detail div .line2 .radio-container {
  width: 56px;
}

app-twit-detail .row-2 {
  display: flex;
  justify-content: center;
  padding: 0 0 5px 0;
}

app-twit-detail .row-2 button {
  border: 1px solid #dc3545;
  margin: 0 5px;
}

app-twit-detail .row-2 .btn-move {
  width: 32px;
  height: 32px;
  padding: 6px 10px;
  background-color: #77cc6d;
  border-color: #77cc6d;
}

app-twit-detail .row-2 .select-url {
  height: 32px;
  margin: 8px 5px 0;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: lightgrey;
  border: 1px solid grey;
  border-radius: 5px;
}

app-twit-detail .row-2 .btn-delete {
  background-color: #dc3545;
  color: white;
  width: 60px;
  height: 32px;
  padding: 6px 10px;
}

app-twit-detail .row-2 .btn-delete:hover {
  background-color: #0366d6 !important;
  border-color: #0366d6;
  color: #fff;
}

app-twit-detail div button:hover {
  background-color: #0366d6 !important;
  border-color: #0366d6;
  color: #fff;
}

app-twit-detail div.row-3 button:first-child{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

app-twit-detail div.row-3 button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

app-twit-detail div .btn-cancel-tree {
  width: 55px;
}

app-twit-detail div .btn-cancel-selected-id {
  width: 77px;
}

app-twit-detail div .btn-cancel-only-catch-id {
  width: 80px;
}

app-twit-detail div .btn-cancel-select-and-catch-id {
  width: 143px;
}

app-twit-detail div .btn-hide-res {
  width: 76px;
}

app-twit-detail div .btn-copy-res {
  width: 49px;
}

app-twit-detail .row-4 {
  display: block;
  /*color: red;*/
  line-height: 1.2em;
  overflow-wrap: break-word;
}

app-twit-detail .row-4 a {
  text-decoration: underline;
  color: #3981e6;
}

.btn-left-round {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.border-round {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

}

.btn-right-round {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.main-container app-left-panel app-status {
  bottom: 2px;
  border: 1px solid lightgrey;
  width: 100%;
  padding: 5px;
  max-width: 956px;
  display: flex;
  justify-content: space-between;
}
.main-container app-left-panel .status-label-content{
  display: flex;
}
.main-container app-left-panel .status {
  text-align: center;
  margin: 0 5px;
  border: 1px solid lightgrey;
  padding: 0 10px;
  font-size: 24px;
  color: #000;
}

.main-container app-left-panel .lbl-sts-main-of-total {
  color: red;
}

.main-container app-left-panel app-content .lbl-sts-main-of-total {
  margin: 0 5px 0 0;
}

.main-container app-left-panel app-status .btn-print-html-tag {
  width: 95px;
  background-color: lightsalmon;
  border:solid 1px lightsalmon;
}

.main-container app-left-panel app-status .btn-print-html-tag:hover {
  background-color: white;
  color: lightsalmon;
}

.main-container app-left-panel app-status .btn-print-all-tag {
  width: 95px;
  background-color: #cc99FF;
  border:solid 1px #cc99FF;
}

.main-container app-left-panel app-status .btn-print-all-tag:hover {
  background-color: white;
  color: #cc99FF;
}

.main-container app-right-panel {
  min-width: 240px;
  max-width: 240px;
  margin: 5px 5px 0;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  height: calc(100vh - 15px);
}

.main-container app-right-panel button {
  border-style: solid;
  padding: 0 5px;
}

.main-container app-right-panel button:hover {
  background-color: #0366d6;
  border: solid 1px #0366d6;
  color: white;
}

.main-container app-right-panel input[type="text"] {
  height: 18px;
}

.main-container app-right-panel .row-container input {
  width: 100%;
}

.main-container app-right-panel .row-container button {
  width: 100%;
  height: 30px;
  margin: 2px 0 0;
}

.main-container app-right-panel .row-container button:hover {
  background-color: #0366d6;
  border-color: #0366d6;
  color: white;
}

.main-container app-right-panel .row-container textarea {
  width: 100%;
  padding: 3px;
}

.main-container app-right-panel textarea.twitter-url{

  height: 145px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.main-container app-right-panel .row-container button.add-url {
  margin-top: -5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.main-container app-right-panel .container-group {
  margin: 10px 0;
  padding: 10px 23px 10px;
  border: 1px solid lightgrey;
}

.main-container app-right-panel .container-group label{
  display: flex;
  align-items: center;
  padding: 1px 0;
}

.main-container app-right-panel .image-group {
  margin: 2px 0;
  padding: 10px 23px 10px;
  border: 1px solid lightgrey;
}

.main-container app-right-panel .video-group {
  margin: 2px 0;
}

.main-container app-right-panel .video-group .txt-replace-url {
  width: 220px;
  float: right;
}



/*.main-container app-right-panel .image-group .image-type label span{*/
/*  display: block;*/
/*}*/


.main-container app-right-panel .move-res div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  /*margin: -1px 0 0 0;*/
}

.main-container app-right-panel .move-res div button {
  width: 50%;
  height: 39px;
  /*margin: 0 0 0 -1px;*/
}

.main-container app-right-panel .move-res div button:hover {
  background-color: #0366d6;
  border-color: #0366d6;
  color: #fff;
}
.main-container app-right-panel .move-res .res-total {
  padding: 5px 1px 3px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-container app-right-panel .move-res .res-total h3 {
  border: 1px solid lightgray;
  width: 100%;
  text-align: center;
  color: red;
  font-size: 22px;
  margin-bottom: 1px;
}

.main-container app-right-panel .move-res .res-count {
  padding: 0 1px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-container app-right-panel .move-res .res-count h3 {
  border: 1px solid lightgray;
  width: 24%;
  text-align: center;
  font-size: 22px;
  margin-bottom: 1px;
}

.main-container app-right-panel .move-res .res-count #lbl-main-of-total {
  width: 50%;
  color: red;
}

.main-container app-right-panel .reading-mode {
  display: block;
  width: 100%;
}

.main-container app-right-panel .sure-specific {
  width: 100%;
  display: flex;
}

.main-container app-right-panel .save-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -1px;
}

.main-container app-right-panel .save-container button {
  width: 50%;
  height: 35px;
}

.main-container app-right-panel .save-container button:last-child {
  margin-left: -2px;
}

.main-container app-right-panel .setting-panel {
  margin: 5px 0 0 0;
  padding: 10px 23px 10px;
  border: 1px solid lightgrey;
  text-align: center;
}

.main-container app-right-panel .setting-panel table {
  width: 100%;
}

.main-container app-right-panel .setting-panel table td {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
  padding: 1px 0;
}

.main-container app-right-panel .setting-panel table td label{
  display: flex;
  align-items: center;
}

.main-container app-right-panel .setting-panel table td .canel-radio {
  color: dodgerblue;
}

.main-container app-right-panel .sure-specific button{
  width: 33.33%;
  height: 55px;
  margin: 0px;
  /*margin-left: -1px;*/
}

.main-container app-right-panel .row-container button.load-path{
  background-color: #26c9ff;
  border: solid 1px #26c9ff;
}

.main-container app-right-panel .row-container button.load-path:hover{
  background-color: #fff;
  color: #26c9ff;
  border: solid 1px #26c9ff;
}

.main-container app-right-panel .row-container button.load-multi-path{
  height: 60px;
  background-color: #bfffff;
  border: solid 1px #bfffff;
}

.main-container app-right-panel .row-container button.load-multi-path:hover{
  background-color: #fff;
  color: #26c9ff;
  border: solid 1px #bfffff;
}

.main-container app-right-panel #txt-html-tag {
  height: 80px;
  margin-top: -5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.main-container app-right-panel #btn-copy-tag {
  height: 32px;
  margin: 2px 0;
  padding: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.main-container app-right-panel #btn-print-html-tag {
height: 100px;
  margin: 0 0 5px;  background-color: lightsalmon;
  border:solid 1px lightsalmon;
}

.main-container app-right-panel #btn-print-html-tag:hover {
  background-color: white;
  color: lightsalmon;
}

.main-container app-right-panel #btn-print-all-tag {
  height: 55px;
  background-color: #cc99FF;
  border:solid 1px #cc99FF;
}

.main-container app-right-panel #btn-print-all-tag:hover {
  background-color: white;
  color: #cc99FF;
}

.main-container app-right-panel #btn-set {
  width: 162px;
  height: 32px;
}

app-res {
  width: 100%;
}

img.popup-image{
  border:0px;
  /*width: 400px;*/
	box-shadow: 2px 2px 3px #555562;
}
#preview{
	position: absolute;
  background: #fff;
  padding: 0px;
  display: none;
  color: #fff;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, .6) 1px 1px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ck.ck-reset_all, .ck.ck-reset_all *{
  display: none;
}
.ck.ck-editor__main{
  width: 100%;
}
.ck.ck-content{
  width: 100%;
  display: block;
}
.ck.ck-content .image{
  width: 148px;
  height: 108px;
  margin: 0;
}
.ck.ck-content a{
  text-decoration: underline;
  color: #3981e6;
}

.label-res-kaihei {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.label-res-kaihei:hover {
  cursor: help
}
.res-gif-link {
  color: red !important;
}

.gif-pause {
  animation-play-state: paused;
}

input[type='radio'] {
  -webkit-appearance:none;
  width:13px;
  height:13px;
  border:1px solid #464646;
  border-radius:50%;
  outline:none;
  margin-right: 3px;
}
input[type='radio']:before {
  content:'';
  display:block;
  width:60%;
  height:60%;
  margin: 20% auto;
  border-radius:50%;
}

input[type='radio']:checked:before {
  background: #464646;
}

.res-container {
  display: block;
  padding: 5px 11px 11px;
}

.tab-header{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.radio-line {
  height: 32px;
  display: flex;
  width: 340px;
  justify-content: space-evenly;
  border: 1px solid #93d6ff;
  border-radius: 5px;
  background-color: #93d6ff;
  margin: 0 5px;
}

.radio-line:last-child {
  margin-top: 8px;
}

.sakusyo-btn {
  height: 60px;
}

.w-100.image-group label {
  padding: 1px 0;
}
